@font-face {
  font-family: Oswald;
  font-display: swap;
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Oswald;
  font-display: swap;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Arial;
  font-display: swap;
  src: url("../fonts/Arial-Regular.woff2") format("woff2"), url("../fonts/Arial-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
}

body .lock {
  overflow: hidden;
}

.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page [data-observ] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background: transparent;
  pointer-events: none;
}

[class*=container] {
  max-width: 78.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.--font-size_xl {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 280px;
  line-height: 280px;
}

.--font-size_lg {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
}

.--font-size_md {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
}

.--font-size_sm {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.--font-size_xs {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.--color_dark-gray {
  color: #444444;
}

.--color_gray {
  color: #F2F2F2;
}

.--color_white {
  color: #fff;
}

.--upperCase {
  text-transform: uppercase;
}

.justify_sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__body {
  padding-top: 3.4375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  gap: 35.5px;
}

.menu__link {
  color: #fff;
}

.menu__link:hover {
  border-bottom: 2px solid white;
}

.footer__body {
  height: 149px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-menu {
  display: none;
}

.hero {
  margin-bottom: 82px;
}

.hero__header {
  margin-bottom: 111px;
}

.hero__body {
  padding-bottom: 210px;
}

.hero__title {
  margin-bottom: 40px;
}

.hero__subtitle {
  margin-bottom: 52px;
}

.hero__btn {
  padding: 14px 26px;
  background-color: #68B738;
  color: #fff;
}

.hero__img-wrapper {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
          transform: translateX(-30%);
}

.hero__background {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 696px;
  z-index: -1;
}

.hero__background > img {
  width: 100%;
  height: 100%;
}

.categories {
  margin-bottom: 71px;
}

.categories__body {
  gap: 80px;
}

.categories__item {
  max-width: 570px;
  min-height: 374px;
  padding-top: 41px;
  padding-left: 52px;
  background-color: #F2F2F2;
}

.category__head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 47px;
  margin-bottom: 39px;
}

.category__text {
  max-width: 81.9298245614%;
  margin-bottom: 23px;
}

.category__btn {
  position: relative;
}

.category__btn::after {
  content: "";
  top: 50%;
  left: 100%;
  -webkit-transform: translate(28px, -50%);
      -ms-transform: translate(28px, -50%);
          transform: translate(28px, -50%);
  position: absolute;
  background-image: url(../images/categories/icon_arrow.svg);
  width: 32px;
  height: 10px;
}

.instruction {
  margin-bottom: 82px;
}

.instruction__title {
  margin-bottom: 72px;
}

.instruction__item {
  min-height: 280px;
  position: relative;
}

.instruction__item:after {
  content: attr(data-id);
  position: absolute;
  top: -10%;
  right: 15%;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 280px;
  line-height: 280px;
  color: #F2F2F2;
  z-index: -5;
}

.instruction__img {
  margin-bottom: 31px;
}

.instruction__item-text {
  max-width: 87.3913043478%;
}

.before-after {
  padding-bottom: 75px;
}

.before-after__container {
  position: relative;
}

.before-after__title {
  margin-bottom: 76px;
}

.before-after__body {
  width: 50%;
}

.before-after__text {
  max-width: 446px;
  margin-bottom: 69px;
}

.before-after__results {
  margin-bottom: 60px;
}

.before-after__results-item {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 162px;
  height: 72px;
  -o-border-image: url(../images/before-after/border.svg);
     border-image: url(../images/before-after/border.svg);
}

.before-after__results-item > h5 {
  display: block;
  width: 85%;
  text-align: center;
  font-size: 30px;
  padding: 14px 0 17px;
  border: 1px solid #CDCDCD;
  border-radius: 4px;
}

.before-after__results-item > span {
  position: absolute;
  top: 66%;
  padding: 5px;
  background-color: #fff;
}

.before-after__cost {
  gap: 63px;
}

.before-after__range-slider {
  width: 50%;
  top: -28%;
  position: absolute;
  right: 0;
}

.js-range-slider__wrapper {
  position: relative;
  width: 610px;
  height: 536px;
}

.js-range-slider__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.js-range-slider__slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.js-range-slider__control {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}

.no-webp .before-slide {
  background-image: url(../images/before-after/before.png); }

.before-slide {
  background-position: -41px 0;
}

.no-webp .after-slide {
  background-image: url(../images/before-after/after.png); }

.after-slide {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  background-position: -59px 0;
  right: 0;
  left: auto;
}

.map__wrapper {
  margin: 0 auto;
}

@media (max-width: 1099.98px) {
  .menu__link {
    color: #000000;
    font-size: 18px;
  }

  .menu__link:hover {
    border-bottom: 2px solid #68B738;
  }

  .hero__background {
    display: none;
  }

  .hero__header {
    margin-bottom: 62px;
  }

  .hero__img-wrapper {
    top: 9.5%;
    left: 37%;
    -webkit-transform: translateX(-30%);
        -ms-transform: translateX(-30%);
            transform: translateX(-30%);
    z-index: -1;
  }

  .hero {
    min-height: 950px;
    margin-bottom: 0;
  }

  .hero__body {
    padding-left: 87px;
  }

  .categories__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }

  .category {
    max-width: 100%;
  }

  .instruction__item {
    max-width: 50%;
  }

  .instruction__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .before-after__title {
    margin-bottom: 63px;
  }

  .before-after__body {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "before-after__text before-after__text" "before-after__results before-after__cost";
  }

  .before-after__text {
    grid-area: before-after__text;
  }

  .before-after__results {
    grid-area: before-after__results;
  }

  .before-after__cost {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-area: before-after__cost;
    text-align: right;
    gap: 9px;
  }

  .js-range-slider {
    margin: 0 auto;
    position: relative;
  }

  .js-range-slider__wrapper {
    -webkit-transform: translate(-22%, 0px);
        -ms-transform: translate(-22%, 0px);
            transform: translate(-22%, 0px);
  }

  .before-after__body {
    width: 100%;
  }

  .before-after__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .before-after__text {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
  }

  .categories__img {
    position: absolute;
    right: 10px;
    max-width: auto;
    top: 44%;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
    height: 196px;
  }

  .category {
    position: relative;
  }

  .category__text {
    max-width: 50%;
  }
}

@media (max-width: 1099.98px) {

  .before-after__text {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .before-after__results {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .before-after__cost {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}

@media (max-width: 750.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open span {
    width: 0;
  }

  .menu-open::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__list {
    position: absolute;
    opacity: 0;
  }

  .menu__list_open {
    opacity: 100;
  }

  .header__body {
    padding-top: 11px;
  }

  .hero {
    min-height: unset;
    margin-bottom: 22px;
  }

  .header {
    margin-bottom: 0;
  }

  .hero__body {
    padding-left: 0;
    padding-top: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 480px;
    padding-bottom: 0px;
  }

  .hero__btn {
    width: 100%;
    text-align: center;
    margin-top: auto;
  }

  .menu__link {
    border-bottom: 2px solid white;
  }

  .hero__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 25px;
  }

  .hero__subtitle {
    font-size: 14px;
  }

  .hero__img-wrapper {
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    top: 7.5%;
    width: 280px;
  }

  .hero__img-wrapper > img {
    width: 100%;
  }

  .category__text {
    font-size: 14px;
    max-width: 80%;
    margin-bottom: 38px;
  }

  .category__title {
    font-size: 24px;
  }

  .category__head {
    gap: 19px;
    margin-bottom: 22px;
  }

  .categories__img {
    position: relative;
    max-width: auto;
    top: 44%;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    height: 50px;
  }

  .category__btn {
    font-size: 16px;
  }

  .category__btn::after {
    left: 75%;
    -webkit-transform: translate(28px, -67%);
        -ms-transform: translate(28px, -67%);
            transform: translate(28px, -67%);
  }

  .categories__item {
    min-height: 266px;
    padding-left: 20px;
    padding-top: 24px;
  }

  .categories__body {
    gap: 20px;
  }

  .instruction__body {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }

  .instruction__img {
    margin-bottom: unset;
  }

  .instruction__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: unset;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .instruction__item::after {
    content: none;
  }

  .instruction__item {
    min-height: unset;
  }

  .before-after__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .before-after__title {
    margin-bottom: 33px;
  }

  .before-after__text {
    margin-bottom: 25px;
  }

  .before-after__cost {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .before-after__results {
    margin-bottom: 26px;
  }

  .footer__body {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo {
    padding: 22px 0;
  }

  .footer__social {
    padding: 22px 0;
  }

  .footer__brand-logo {
    padding: 22px 0;
  }

  .js-range-slider {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }

  .before-after__range-slider {
    width: 100%;
  }

  .menu__list_open {
    position: absolute;
    background: #68B738;
    color: #fff;
    left: 0;
    top: 2.3%;
    padding-top: 12%;
    height: 100vh;
    /* justify-content: space-evenly; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 100;
    width: 100%;
    overflow: hidden;
    z-index: 100;
  }

  .menu__link {
    color: #fff;
  }
}

@media (max-width: 425.98px) {
  .hero__background {
    display: block;
    position: absolute;
    top: 66px;
    right: 50%;
    width: 100%;
    height: 320px;
    z-index: -2;
    -webkit-transform: translate(50%, 10px);
        -ms-transform: translate(50%, 10px);
            transform: translate(50%, 10px);
  }

  .hero__body > h1,
  .hero__body h5,
  .hero__body a {
    color: #fff;
  }
}

.webp .before-slide { background-image: url(../images/before-after/before.webp); }

.webp .after-slide { background-image: url(../images/before-after/after.webp); }